// Style when Text is in the Left Side
.leftSliceWrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 90px 10%;
    color: white;

    .textWrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            list-style: inside;
            margin-bottom: 40px;
        }
        h2 {
            padding: 40px 0;
        }

        p {
            margin-bottom: 30px;
        }
    }
    .imageWrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

// Style when Text is in the Right Side
.rightSliceWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 90px 10%;
    color: white;
    .textWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        ul {
            list-style: inside;
            margin-bottom: 40px;
        }
        h2 {
            padding: 40px 0;
        }
        p {
            margin-bottom: 30px;
        }
    }

    .imageWrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

//  < -- DESKTOP BREAK POINT -- >
@media (min-width: 1025px) {
    // Style when Text is in the Left Side
    .leftSliceWrapper {
        flex-direction: row;
        .textWrapper {
            flex-basis: 50%;
            text-align: left;
            padding-right: 90px;
        }
        .imageWrapper {
            flex-basis: 50%;
        }
    }

    // Style when Text is in the Left Side
    .rightSliceWrapper {
        flex-direction: row-reverse;
        .textWrapper {
            text-align: left;
            flex-basis: 50%;
            padding-left: 90px;
        }
        .imageWrapper {
            flex-basis: 50%;
        }
    }
}
